
  p{
    margin: 0;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #737A8E;
    padding-top: 60px ;
  } 

  .header_logo{
    margin-right: 52px;
  }
  
  .header__logo-img {
    width: 140px; 
    height: auto;
    margin-bottom: 10px;
  }
  
  .header__logo_text {
    width: 150px; 
    text-align: center; 
    font-size: 14px;
    color: var(--light-text, #E4E5EA);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
    

  .header__item {
    list-style: none; 
    padding: 0;
    padding-top: 3px;
    display: flex;
    margin: 0;
    margin-right: 137px;
    cursor: pointer;
  }
  
  .header__link {
    margin-right: 30px; 
    color: var(--light-text, #E4E5EA);
  }
  .header__link:last-child {
    margin-right: 0;
  }
  
  
  .header__contacts {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
  }

  .header__phone {
    color: var(--light-text, #E4E5EA);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-right: 30px; 
    cursor: pointer;
  }
  
  .header__img {
    margin-right: 30px; 
    cursor: pointer;
  }
  .header__img:last-child {
    margin-right: 0px; 
  }
