/* .info__title {
  text-align: center;
}

.info__title-main {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 209px 147px 30px 490px;
  color: #E4E5EA;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.highlight-text {
  font-size: 18px;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
  font-weight: bold;
  color: #ff6600; /* Orange color */
/* }

.info__title-down {
  font-size: 14px;
  color: #666;
} */ 
