.info{
  
  display: flex;
  background: #7a7a7a;
  color: #737A8E;
  align-items: center; 
}

/* styles.css */

.info-container {
  margin-left: 147px; /* Equal left margin to align with the header_logo */
}

.info__title {
  text-align: center;
  margin-left: 147px;
  margin-right: 490px;
}

.info__title-main {
  max-width: 88px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 94px 0 30px 0; 
  color: #E4E5EA;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.highlight-text {
  font-size: 18px;
  font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
  font-weight: bold;
  color: #ff6600; 
}

.info__title-down {
  max-width: 206px;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  color: var(--light-text, #E4E5EA);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.info__more{

  color: var(--light-text, #E4E5EA);
}

.info__more-text{
  max-width: 200px;
  margin-top: 105px;
  color: var(--light-text, #E4E5EA);
text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.highlight-text–µ{
  color: #ff6600; 
  text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
